<html>
<body>

<h1>Foxy Proxy für Chrome Installieren</h1>
<a href="https://chrome.google.com/webstore/detail/foxyproxy-standard/gcknhkkoolaabfmlnjonogaaifnjlfnp">Link</a>

<h1>Kekshaus Proxy in FoxyProxy einstellen</h1>

<img src="Screenshot_1.png">
<img src="Screenshot_2.png">
<img src="Screenshot_3.png">
<img src="Screenshot_4.png">
<img src="Screenshot_5.png">
<img src="Screenshot_6.png">
<img src="Screenshot_7.png">
<img src="Screenshot_8.png">

<h1> Alternativ mit Firefox und ohne Foxy Proxy, alte Methode </h1>

<img src="Screenshot_9.png">

</body>
</html>