<!DOCTYPE html>
<html>
  <head>
    <title>Cookies SOCKS Proxy Config!</title>

    <meta charset='UTF-8' />
    <title>Suffragist</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1>Cookies SOCKS Proxy Config!</h1>

    <p><a href="/socks/auth/login">Log In</a> | <a href="/socks/protected">SOCKS Country Settings</a> | <a href="/socks/about">How to use</a> | <a href="/socks/auth/logout">Log Out</a></p>

    <% if flash[:success] %>
    <div style="color:green;">
      <%= flash[:success] %>
    </div>
    <% end %>

    <% if flash[:error] %>
    <div style="color:red;">
      <%= flash[:error] %>
    </div>
    <% end %>

    <%= yield %>
  </body>
</html>